<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipesHub</title>
</head>
<body>
  <h2>Users</h2>
<ul>
    <% Users.forEach(User=> { %>
      <li><%= User.name%> - <%= User.comment %></li>
    <% }) %>
  </ul>
  <!-- <h3>Add a Comment</h3> -->
  <form method="POST" action="/comments">
    <input name="username" placeholder="Username" required />
    <input name="content" placeholder="Your comment" required />
    <button type="submit">Submit</button>
  </form>
</body>
</html>