<!DOCTYPE html>
<html>

<head>
  <title>Welcome to RecipeHub</title>
  <link rel="stylesheet" href="/style.css">
</head>
<style>
  body{
    background-color: rgb(206, 206, 216); 
  }
</style>
<body>
  <h1> RecipeHub</h1>
  <h2>Recipes</h2>
  <ul>
    <% Recipes.forEach(recipe=> { %>
      <li><strong>
          <%= recipe.title %>
        </strong>: <%= recipe.instructions %>
      </li>
      <% }) %>
  </ul>
  <h2>Users</h2>
  <ul>
    <% Users.forEach(user=> { %>
      <li><strong>
          <%= user.name %>
        </strong>: <%= user.comment %>
      </li>
      <% }) %>
  </ul>
  <h2>Leave Us a Comment </h2>
  <form action="/users" method="POST">
    <input name="name" placeholder="Name" required>
    <input name="username" placeholder="Username" required>
    <input name="email" type="email" placeholder="Email" required>
    <input name="comment" placeholder="Comment">
    <button type="submit">Submit</button> 
  </form>
</body>
<!-- for some reason, when I click submit. I get Cannot get post/users in lowercase "U" but display Users when 
 manually entered in localhost. Idk why. This View/css connection is really hard -->
</html> 